[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
pymysql = "*"
sqlalchemy = "*"

[dev-packages]
flake8 = "*"
fastapi = "*"

[requires]
python_version = "3.9"
